
<div class="navbar">
    <h3><button mat-raised-button color="primary" [routerLink]="['/login']" (click)="logout()">LogOut</button>  </h3>

    <div class="links">
        <ul>
            <li><a [routerLink]="['/hired']">AddHiredPeople</a></li>
            <li><a [routerLink]="['/onboard']">AddOnBoardedPeople</a></li>
            <li><a [routerLink]="['/displayAllHired']">DisplayHiredPeople</a></li>
            <li><a [routerLink]="['/displayAllOnboard']">DisplayOnBoardedPeople</a></li>
        </ul>
    </div>
</div>
<div class="imgDiv"></div>

        



