mat-card{
    margin: 0px 200px;
}

h1{
    background-color: blue;
    padding: 30px;
}

.card{
    border: 2px solid red;
    background-color: #FFF;
}

button{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.button{
    margin-top: 20px;
}

.head{
    height: 110%;
    background-color: aqua;
}