
mat-card{
    padding: 20px 100px;
    background-color: rgb(24, 195, 207);
    margin-top: 80px;
}

input[type=file]{
    color: transparent;
}

.button{
    margin-top: 20px;
    margin-left: 120px;
    padding: 2px 15px;
}

.submit{
    margin-right: 20px;
}

.reset{
    margin-right: 20px;
}

.head1{
    margin-bottom: 10px;
    font-size: large;
    text-align: center;
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
